<div class="container">
  <div class="newShows">
    <h2>ADD SHOWS</h2><br>

    <mat-form-field appearance="standard">
      <mat-label>Select a Movie</mat-label>
      <mat-select (selectionChange)="movieSelected($event)">
        <mat-option [value]="movieslist.movie_id" *ngFor="let movieslist of movies">
          {{ movieslist.name | uppercase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard">
      <mat-label>Select a Hall</mat-label>
        <mat-select (selectionChange)="hallSelected($event)">
           <mat-option [value]="hallList.hall_id" *ngFor="let hallList of halls">
              {{ hallList.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <mat-form-field appearance="standard">
      <mat-label>Enter a Show Time</mat-label>
      <input matInput [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date & Time" #dateTime />
      <owl-date-time #dt1></owl-date-time>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="update(dateTime)">CREATE</button>&nbsp;
    <label>{{apiResponseMessage}}</label>
  </div>
</div>