.container
{
    height: 80px;
    width: 100%;
}

body
{
    overflow-y: hidden;
}

.nav-bar
{
    justify-content: space-between;
}

.side-nav-container
{
    height: 100px;
    width: 100%;
}
a
{
    padding-right: 1rem;
    font-size: medium;
    color: white;
    text-decoration: none;
}

span
{
    padding-right: 2rem;
    font-size: small;
    color: white;  
}

.sidenav-routes a,span
{
    color: black;
    font-size: medium;
    margin: 3px;  
}

a:hover
{
    color: darkred;
}
