<!-- <div class="logout">
        <div class="bookings-btn">
            <a class="btn btn-primary" routerLink="/mybookings">MY BOOKINGS</a>
        </div>&nbsp;
        <div class="logout-btn">
            <a class="btn btn-primary" routerLink="/" (click)="logout()">LOGOUT</a>
        </div>
</div> -->

  <mat-toolbar color="primary" class="nav-bar">
  <div>BINGEWATCH</div>
    <div *ngIf="mobileDevice; else menu">
    <span>Hello {{ userName | titlecase }}</span>
    <a *ngIf="adminAccess" routerLink="/checkin">Checkin Scanner</a>
    <a routerLink="/mybookings">My Bookings</a>
    <a routerLink="/" (click)="logout()">Logout</a>    
    </div>
    <ng-template #menu>
      <div class="menu" >
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <a *ngIf="adminAccess" routerLink="/checkin">Checkin Scanner</a>
          </button>
          <button mat-menu-item >
            <mat-icon>voicemail</mat-icon>
            <a routerLink="/mybookings">My Bookings</a>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <a routerLink="/" (click)="logout()">Logout</a> 
          </button>
        </mat-menu>
      
      </div>
    </ng-template>
   
  <!-- <div fxShow="true" fxHide.gt-sm="true">
    <button type="button" (click)="sidenav.toggle()" mat-button>Show Side Menu</button>
  </div> -->
</mat-toolbar>


<!-- <mat-sidenav-container fxFlexFill class="side-nav-container">
  <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" position="end" role="navigation">
    <div fxLayout="column" class="sidenav-routes">
      <span>Hello {{ userName | titlecase }}</span>
      <a *ngIf="adminAccess" routerLink="/checkin">Checkin Scanner</a>
      <a routerLink="/mybookings">My Bookings</a>
      <a routerLink="/" (click)="logout()">Logout</a>
    </div>
  </mat-sidenav>
</mat-sidenav-container> -->




