.container
{
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body
{
    overflow-y: hidden;
}

.nav-bar
{
    justify-content: space-between;
}

.side-nav-container
{
    height: 100px;
    width: 100%;
}

a
{
    padding-right: 1rem;
    font-size: medium;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

span
{
    padding-right: 2rem;
    font-size: small;
    color: white;  
}

.sidenav-routes a,span
{
    color: black;
    font-size: medium;
    margin: 3px;  
    padding: 5px;
}

a:hover
{
    color: darkred;
}

mat-sidenav {
    width: 250px;
  }
