<!-- <div class="logout">
        <div class="bookings-btn">
            <a class="btn btn-primary" routerLink="/mybookings">MY BOOKINGS</a>
        </div>&nbsp;
        <div class="logout-btn">
            <a class="btn btn-primary" routerLink="/" (click)="logout()">LOGOUT</a>
        </div>
</div> -->
<div class="container">
    <mat-toolbar color="primary" class="nav-bar">
      <div>BINGEWATCH</div>
      <div fxShow="true" fxHide.lt-md="true">
        <span>Hello {{ userName | titlecase }}</span>
        <a *ngIf="adminAccess" routerLink="/checkin">Checkin Scanner</a>
        <a routerLink="/mybookings">My Bookings</a>
        <a (click)="logout()">Logout</a>
      </div>
      <div fxShow="true" fxHide.gt-sm="true">
        <button type="button" (click)="sidenav.toggle()" mat-button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  
<mat-sidenav-container fxFlexFill class="side-nav-container">
  <mat-sidenav #sidenav fxLayout="column" mode="over" opened="false" position="end" role="navigation">
    <div fxLayout="column" class="sidenav-routes">
      <span>Hello {{ userName | titlecase }}</span>
      <a *ngIf="adminAccess" routerLink="/checkin">Checkin Scanner</a>
      <a routerLink="/mybookings">My Bookings</a>
      <a routerLink="/" (click)="logout()">Logout</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content><app-body></app-body></mat-sidenav-content>
</mat-sidenav-container>
</div>
