.container
{
    width: 100%;
    height: 100%;
}

.nav-bar
{
    justify-content: space-between;
}


.heading
{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: large;
}

.header label
{
    margin-left: 5px;
    margin-top: 10px;
}

.back-arrow
{
    width: 20px;
    display: flex;
    justify-content: flex-start;
    border: none;
}

.back-arrow button
{
    background-color: transparent;
    border: none;
    outline: none;
}

.bookinginfo
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookings
{
    width : 400px;
    padding : 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #FFF8DC;
}

label
{
    width: 110px;
    display: inline-block;
    padding-left: 15px;
}


/* MEDIA QUERIES */

@media (min-width:320px) and (max-width:480px)
{
    .bookings
    {
    width : 300px;
    padding : 20px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #FFF8DC;
    }
}
