<div class="container">
    <div class="child-items">
        <div class="heading">
            <h1 style="font-family: 'Pacifico', cursive;">Welcome!!</h1>
        </div>
        <div class="form-content">
            <div class="body">
                <button class="btn btn-primary" value="Sign Up" (click)="displayLoginForm($event)">SIGN
                    UP</button>&nbsp;
                <button class="btn btn-primary" value="Login" (click)="displayLoginForm($event)">LOGIN</button>
                <br>


                <div *ngIf='signupform'>
                    <mat-form-field appearance="standard">
                            <mat-label >FullName</mat-label>
                        <input matInput type="text" required #fname><br>
                    </mat-form-field>
             
                    <mat-form-field appearance="standard">
                            <mat-label>Username</mat-label>
                        <input matInput required type="text" #uname><br>
                    </mat-form-field>
           
                    <mat-form-field appearance="standard">
                        <mat-label>Password</mat-label>
                        <input matInput required [type]="hideRegisterPassword ? 'password' : 'text'" #password>
                        <button mat-icon-button matSuffix (click)="hideRegisterPassword = !hideRegisterPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideRegisterPassword">
                            <mat-icon style="color: blanchedalmond;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
    
                    <mat-form-field appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput required type="email" placeholder="Ex. chris@example.com" #email>
                    </mat-form-field>
          
                    <mat-form-field appearance="standard">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput required type="number" #mobile>
                    </mat-form-field>

                    <button mat-raised-button color="primary"  value="Register"
                        (click)="Register(fname,uname,password,email,mobile)">REGISTER</button><br><br>
                    <label>{{apiRegisterResponse}}</label>

                </div>

                <div *ngIf='loginform'>
                    <mat-form-field appearance="standard">
                        <mat-label>Username</mat-label>
                        <input matInput type='text' #regEmail>
                    </mat-form-field>
                    <mat-form-field appearance="standard">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hideLoginPassword ? 'password' : 'text'" #regPasswrd>
                        <button mat-icon-button matSuffix (click)="hideLoginPassword = !hideLoginPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideLoginPassword">
                            <mat-icon style="color: blanchedalmond;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                  

                    <button mat-raised-button color="primary" (click)="SignIn(regEmail,regPasswrd)">LOGIN</button><br><br>
                    <label>{{apiLoginResponse}}</label>

                </div>
            </div>
        </div>
    </div>
</div>