.container
{
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: skyblue;

}

.error-box
{
    width: 290px;
    text-align: left;
    color: #f44336;
}

.error-box p
{
    margin-top: -15px;
}

h1
{
    font-size: xx-large;
    font-weight: inherit;
}

.heading
{
    text-align: center;
}

mat-form-field
{
    width: 300px;
}

/* mat-form-field mat-label
{
    color: blanchedalmond
}

mat-form-field input 
{
    color: blue;
}

input.mat-input-element .mat-input-element-outline {
    color: blanchedalmond
  } */

  ::placeholder {
    color:black;
    opacity: 0.5;
  }



.form-content
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body
{
    height: 500px;
    width: 300px;
    text-align: center;
    color: azure;
    font-family: 'Lato', sans-serif;
}

label
{
    color: darkred;
}

.btn-primary
{
    background-color: transparent;
    box-shadow: none;
    border-color: rosybrown;
    color: blanchedalmond;

}

.btn-primary:hover
{
    background-color: rosybrown;
    color: black;
}

.btn-primary:focus
{
    background-color: rosybrown;
    color: black; 
}


button,input
{
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}