.container
{
    height: 100vh;
    width: 100%;
    overflow: auto;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

}

.title
{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: larger;
    color: black;
}

.title p
{
    font-size: small;
    margin-top: -20px;
}

.forgot-password
{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: small;
    color: black;
}

.forgot-password a
{
    text-decoration: none;
}

.signup-here
{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    font-size: small;
    color: black;
}

.signup-here a
{
    cursor: pointer;
    color: #ff4081;
}

.login-here
{
    width: 300px;
    display: flex;
    justify-content: flex-start;
    font-size: small;
    color: black;
}

.login-here a
{
    cursor: pointer;
    color: #ff4081;
}

.loginbtn
{
    width: 300px;
}

.signupbtn
{
    width: 300px;
}

.error-box
{
    width: 290px;
    text-align: left;
}

.error-box p
{
    color: #f44336;
    margin-top: -15px;
}

h1
{
    font-size: xx-large;
    font-weight: inherit;
    font-family: 'Lato';
}

.heading
{
    text-align: center;
}

mat-form-field
{
    width: 300px;
}

/* mat-form-field mat-label
{
    color: blanchedalmond
}

mat-form-field input 
{
    color: blue;
}

input.mat-input-element .mat-input-element-outline {
    color: blanchedalmond
  } */

  ::placeholder {
    color:black;
    opacity: 0.5;
  }



.form-content
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.body
{
    height: 500px;
    width: 300px;
    text-align: center;
    color: azure;
    font-family: 'Lato', sans-serif;
}

label
{
    color: darkred;
}


button,input
{
    color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* MEDIA QUERIES */

@media (min-width:320px) and (max-width:480px)
{
    .child-items
    {
        background-color: linen;
    }
   
}
