<div class="container">
    <div class="newHall">
        <h2>ADD NEW HALL</h2><br><br>
        Hall Name: <input type="text" placeholder="Enter Hall Name" #hallName>
        <br><br>

        Enter Columns of Seats: <input type="number" placeholder="Enter Column Value" #seatColumns>
        <br><br>

        Enter Rows of Seats: <input type="number" placeholder="Enter Row Value" #seatRows>

        <br><br>

        <button class="btn btn-success" (click)='update(hallName,seatColumns,seatRows)'>UPDATE</button>
    </div>
</div>