<div class="container">
  <br>
  <div class="header-content">
    <div class="header">
      <h2>HALL</h2>
    </div>
    <div class="create">
      <div class="create-btn" *ngIf="displayHallInfo; else displayHalls ">
        <button type="button" mat-raised-button (click)="[displayHallInfo = false,createNewHall()]">Create</button>
      </div>
      <ng-template #displayHalls>
        <div class="create-btn">
          <button type="button" mat-raised-button (click)="showHallInfo()" >Display Halls</button>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="table">

    <div class="table-content" *ngIf="displayHallInfo; else createForm">
      
    
      <mat-table [dataSource]="hallInfo" class="mat-elevation-z8">

        <ng-container matColumnDef="s.no">
          <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
          <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let hall"> {{hall.name}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="rows">
          <mat-header-cell *matHeaderCellDef> Rows </mat-header-cell>
          <mat-cell *matCellDef="let hall"> {{hall.total_rows}} </mat-cell>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="columns">
          <mat-header-cell *matHeaderCellDef> Columns </mat-header-cell>
          <mat-cell *matCellDef="let hall"> {{hall.total_columns}} </mat-cell>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell *matCellDef="let hall">
            <button type="button" mat-icon-button  (click)="editHall(hall)"><mat-icon color="accent">edit</mat-icon></button>
          </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
  
  </div>

  <ng-template #createForm>

    <ng-container #createHallComponent>

    </ng-container>
 
  </ng-template>

  </div>

  
    

    <!-- <form (ngSubmit)="update(hallForm)" #hallForm="ngForm">
      <mat-form-field appearance="standard">
        <mat-label>Hall Name</mat-label>
        <input matInput type="text" name="name" required ngModel #hallName="ngModel" />
      </mat-form-field>
      <p *ngIf="!hallName.valid && hallName.touched">Please enter Hall Name</p>
      <br />
      <mat-form-field appearance="standard">
        <mat-label>Columns</mat-label>
        <input matInput name="total_columns" required ngModel type="number" #seatColumns="ngModel" />
      </mat-form-field>
      <p *ngIf="!seatColumns.valid && seatColumns.touched">
        Please enter column value
      </p>
      <br />
      <mat-form-field appearance="standard">
        <mat-label>Rows</mat-label>
        <input matInput type="number" required name="total_rows" ngModel #seatRows="ngModel" />
      </mat-form-field>
      <p *ngIf="!seatRows.valid && seatRows.touched">Please enter row value</p>
      <br />
      <button mat-raised-button color="primary" type="submit" [disabled]="!hallForm.valid">
        CREATE
      </button>
      &nbsp;
      <label>{{ apiResponseMessage }}</label>
    </form> -->
</div>