.container
{
    height: 100%;
    width: 100%;
}

.header
{
    width: 100%;
    text-align: center;
}

.table
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-content{
    height: 100%;
    width: 80%;
}

mat-form-field
{
    width: 300px;
}

p
{   color:#f44336;
    margin-top: -15px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}