<div class="container">
    <div class="newHall">
        <h2>ADD NEW HALL</h2><br>
        <label>Hall Name</label> 
        <input type="text" class="form-control" placeholder="Enter Hall Name" #hallName>
        <br><br>

        <label>Enter Columns of Seats</label> 
        <input type="number" class="form-control" placeholder="Enter Column Value" #seatColumns>
        <br><br>

        <label>Enter Rows of Seats</label> 
        <input type="number" class="form-control" placeholder="Enter Row Value" #seatRows>

        <br><br>

        <button class="btn btn-success" (click)='update(hallName,seatColumns,seatRows)'>CREATE</button> &nbsp;
        <label>{{apiResponseMessage}}</label>
    </div>

</div>