<div class="container">
  <mat-toolbar color="primary" class="nav-bar">
    <div class="back-arrow">
      <button mat-stroked-button (click)="back()">
        <i class="fa fa-arrow-left"></i>
      </button>
    </div>
    <div class="heading">
      <div>CHECKIN SCANNER</div>
    </div>
  </mat-toolbar>
  <br>
  <div class="select-camera">
    <div class="camera-obj">
      <mat-form-field>
        <mat-label>Select Camera</mat-label>
        <mat-select (selectionTabChange)="[selectedInd=ind]" [value]="selectedInd">
          <mat-option [value]="ind" *ngFor="let cameras of apiResponse; index as ind">
            {{cameras.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="video">
    <video id="preview"></video>
  </div>
</div>
