<div class="container">
    <div class="body">
        <div class="movie-info">
            <mat-form-field>
                <mat-label>Select Movie</mat-label>
                <mat-select (selectionChange)="selectedMovie($event)">
                  <mat-option *ngFor="let movielist of movies" [value]="movielist.movie_id">
                    {{ movielist.name | uppercase }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Select a day</mat-label>
                <mat-select [(ngModel)]="dateValue" (selectionChange)="DisplayAvailableShows($event)">
                  <mat-option [value]="indexVal" *ngFor="let days of dayArr; index as indexVal">
                    {{ days }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
        </div>
    </div>
    <div class="table">

        <div class="table-content" *ngIf="showTable; else noData">
            <app-shows-table [showInfo]="showInfo"></app-shows-table>
        </div>
        <ng-template #noData>
            <div class="no-movies">
                <label>No Data Available</label>
            </div>
          </ng-template>
</div>
