.container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.editMovie
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.create
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.action-btn
{
    padding-right: 20px;
    margin-top: -50px;
}