<div class="container">
  <app-header></app-header>
  <mat-tab-group (selectedTabChange)="navigate($event)">
    <mat-tab label="Home">
      <ng-template matTabContent>
        <app-seats></app-seats>
      </ng-template>
    </mat-tab>
    <mat-tab label="Manage">
      <ng-template matTabContent>
        <mat-tab-group mat-align-tabs="center" animationDuration="0ms">
          <mat-tab label="Add Hall">
            <ng-template matTabContent>
              <app-new-hall></app-new-hall>
            </ng-template>
          </mat-tab>
          <mat-tab label="Add Movie">
            <ng-template matTabContent>
              <app-new-movie></app-new-movie>
            </ng-template>
          </mat-tab>
          <mat-tab label="Add Show">
            <ng-template matTabContent>
              <app-new-show></app-new-show>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
<!-- <div class="admin-components">
    <div [ngSwitch]="switch">
      <div class="add-hall" *ngSwitchCase="'addhall'">
        <app-new-hall></app-new-hall>
      </div>
      <div class="add-movie" *ngSwitchCase="'addmovie'">
        <app-new-movie></app-new-movie>
      </div>
      <div class="add-show" *ngSwitchCase="'addshow'">
        <app-new-show></app-new-show>
      </div>
  </div>
  </div> -->

<!-- <div class="manage" >
        <button mat-raised-button (click)="switch='addhall'"
        [ngStyle]="{'background-color' : switch=='addhall' ? 'rgb(67, 199, 252)' : 'rgb(252, 102, 152)'}">Add Hall</button>

        <button mat-raised-button (click)="switch='addmovie'"
        [ngStyle]="{'background-color' : switch=='addmovie' ? 'rgb(67, 199, 252)' : 'rgb(252, 102, 152)'}">Add Movie</button>

        <button mat-raised-button (click)="switch='addshow'"
        [ngStyle]="{'background-color' : switch=='addshow' ? 'rgb(67, 199, 252)' : 'rgb(252, 102, 152)'}">Add Show</button>
  
      </div> -->
