<div class="container">
  <app-header></app-header>
  <mat-tab-group (selectedTabChange)="navigate($event)">
    <mat-tab label="Home">
      <app-seats></app-seats>
    </mat-tab>
    <mat-tab label="Manage">
      <br>
      <div class="manage" >
        <button mat-raised-button (click)="switch='addhall'"
        [ngStyle]="{'background-color' : switch=='addhall' ? 'rgb(67, 199, 252)' : 'rgb(252, 102, 152)'}">Add Hall</button>

        <button mat-raised-button (click)="switch='addmovie'"
        [ngStyle]="{'background-color' : switch=='addmovie' ? 'rgb(67, 199, 252)' : 'rgb(252, 102, 152)'}">Add Movie</button>

        <button mat-raised-button (click)="switch='addshow'"
        [ngStyle]="{'background-color' : switch=='addshow' ? 'rgb(67, 199, 252)' : 'rgb(252, 102, 152)'}">Add Show</button>
  
      </div> 
    </mat-tab>
  </mat-tab-group>
  <br>
  <!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <button class="btn" [ngClass]="{ 'btnactive': home}" (click)="navigate('home')">
        HOME
      </button>
    </li>
    <li class="nav-item">
      <button class="btn" [ngClass]="{ 'btnactive': manage}" (click)="navigate('manage')">
        MANAGE
      </button>
    </li>
  </ul>
  <br />


  <div class="manage" *ngIf="manage">
    <button class="btn btn-light" (click)="switch='addhall'">Add Hall</button>
    <button class="btn btn-light" (click)="switch='addmovie'">Add Movie</button>
    <button class="btn btn-light" (click)="switch='addshow'">Add Show</button>
  </div> -->

  <div class="admin-components">
    <div [ngSwitch]="switch">
      <div class="add-hall" *ngSwitchCase="'addhall'">
        <app-new-hall></app-new-hall>
      </div>
      <div class="add-movie" *ngSwitchCase="'addmovie'">
        <app-new-movie></app-new-movie>
      </div>
      <div class="add-show" *ngSwitchCase="'addshow'">
        <app-new-show></app-new-show>
      </div>
  </div>
  </div>
  

  <!-- <div class="home" *ngIf="home">
    <div class="seats-component">
      <app-seats></app-seats>
    </div>
  </div> -->
</div>



