<div class="container">
  <div class="logout">
    <div class="logout-btn">
      <a class="btn btn-link" routerLink="/" (click)="logout()">LOGOUT</a>
    </div>
  </div>
  <h2>ADMIN</h2>
  <br />
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <button
        class="btn"
        [ngClass]="{ 'btnactive': home}"
        (click)="navigate('home')"
      >
        Home
      </button>
    </li>
    <li class="nav-item">
      <button
        class="btn"
        [ngClass]="{ 'btnactive': manage}"
        (click)="navigate('manage')"
      >
        Manage
      </button>
    </li>
  </ul>
  <br />

  <div class="manage" *ngIf="manage">
    <div class="add-hall"><app-new-hall></app-new-hall></div>
    <div class="add-movie"><app-new-movie></app-new-movie></div>
    <div class="add-show"><app-new-show></app-new-show></div>
  </div>

  <div class="home" *ngIf="home">
    <div class="seats-component"><app-seats></app-seats></div>
  </div>
</div>
