.container
{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: blanchedalmond;
}

label
{
    color: blanchedalmond;
}

input
{
    color: black;
}