<div class="container">
    <div class="newMovie">
        <h2>ADD NEW MOVIE</h2><br>
        <label>Movie Name</label>
        <input type="text" class="form-control" placeholder="Enter Movie Name" #movieName>
        <br><br>
        <label>Ticket Price</label>
        <input type="number" class="form-control" placeholder="Enter Ticket Price" #ticketPrice>
        <br><br>
        <button class="btn btn-success" (click)='update(movieName,ticketPrice)'>CREATE</button>&nbsp;
        <label>{{apiResponseMessage}}</label>
    </div>
</div>
