<mat-table  [dataSource]="tableData" class="mat-elevation-z8">
      
    <ng-container matColumnDef="s.no">
      <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
      <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="hall_name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let show"> {{show.hall_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="show_time">
      <mat-header-cell *matHeaderCellDef> Show Time </mat-header-cell>
      <mat-cell *matCellDef="let show"> {{show.show_time}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let show">
        <button type="button" mat-icon-button><mat-icon color="accent">edit</mat-icon></button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


