
<mat-dialog-content>
<form (ngSubmit)="update(hallForm)" #hallForm="ngForm">
      <mat-form-field appearance="standard">
        <mat-label>Hall Name</mat-label>
        <input matInput type="text" name="name" required [ngModel]="updateContent.name" #hallName="ngModel" />
      </mat-form-field>
      <p *ngIf="!hallName.valid && hallName.touched">Please enter Hall Name</p>
      <br />
      <mat-form-field appearance="standard">
        <mat-label>Columns</mat-label>
        <input matInput name="total_columns" required [ngModel]="updateContent.total_columns" type="number" #seatColumns="ngModel" />
      </mat-form-field>
      <p *ngIf="!seatColumns.valid && seatColumns.touched">
        Please enter column value
      </p>
      <br />
      <mat-form-field appearance="standard">
        <mat-label>Rows</mat-label>
        <input matInput type="number" required name="total_rows" [ngModel]="updateContent.total_rows"  #seatRows="ngModel" />
      </mat-form-field>
      <p *ngIf="!seatRows.valid && seatRows.touched">Please enter row value</p>
      <br />
      <div class="action-btn">
        <div class="cancel-btn">
          <mat-dialog-actions>
            <button mat-icon-button matTooltip="Cancel" matTooltipPosition="left" mat-dialog-close>
                <mat-icon>clear</mat-icon>
              </button>
          </mat-dialog-actions>
        </div>
        <div class="apply-btn">
          <mat-dialog-actions>
            <button mat-icon-button matTooltip="Apply" matTooltipPosition="right" color="primary" type="submit" [disabled]="!hallForm.valid">
          <mat-icon>done</mat-icon>
        </button>
      </mat-dialog-actions>
        </div>
      </div>
      
      &nbsp;
      <label>{{ apiResponseMessage }}</label>
    </form>
</mat-dialog-content>

