/* You can add global styles to this file, and also import other style files */
body
{
    background-image: url("./assets/body-background4.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}