<div class="container">
  <div class="nav-tabs">
    <div class="userinfo">
      <p><i>Hello</i> {{userName | uppercase}}</p>
    </div>
    <ul class="nav navigation-tabs">
      <li class="pull right"><a class="btn btn-link" routerLink="/mybookings">MY BOOKINGS</a></li>
      <li class="pull right"><a routerLink="/" (click)="logout()">LOGOUT</a></li> 
    </ul>
  </div>

    <div class="movie-picker">
        <app-seats></app-seats> 
    </div>    
</div>











    <!-- <div class="logout">
        <div class="logout-btn">
          <a class="btn btn-primary" routerLink="/" (click)="logout()">LOGOUT</a>
        </div>
      </div> -->