
.hor{
    display:flex;
}


.container
{
    height: 100%;
    width: 100%;
} 

body::-webkit-scrollbar {
    display: none;
  }


.btn-primary
{
    background-color: transparent;
    box-shadow: none;
    border-color: rosybrown;
    color: blanchedalmond;
    border-radius: 4px;

}   


.btn-primary:focus
{
    background-color: rosybrown;
    color: black;
}

.btn-primary:hover
{
    background-color: rosybrown;
    color: black;
}

.total-seats
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat-position
{
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    overflow-x: auto;
    overflow-y: auto;
}

.seat-position::-webkit-scrollbar {
    display: none;
}

.shows
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showtime
{
    width: 500px;
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.showtime button
{

    margin-right: 5px;
    margin-left: 5px;
}

.selected-show
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.selected-show-position
{
    width: 500px;
    display: column;
    justify-content: left;

}

.screen-location
{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.screen
{
    height: 100px;
    width: 500px;
    text-align: center;
    transform: rotateX(-35deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    background-color: white;
}

.screen p
{
    margin-top: 40px;
}

.movie-picker
{
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-selector
{
    height: 30px;
}

.movie-picker-position
{
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: left;
}

.dayPicker
{
    width: 100%;
    display: flex;
    justify-content: center;
    color: black;
    margin-bottom: 20px;
}

.navigation
{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.nav-item
{
    margin-right: 5px;
}

select
{
    color: black;
    height: 34.5px;
    border-radius: 4px;
    margin-top: 0.7px;
    outline: none;
}

.seat
{
    background-color: transparent;
    border-color: white;
    height: 20px;
    width: 18px;
    margin: 3px;
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
}

.seat:hover
{
    background-color:rgb(83, 83, 235);
}

.selectedSeat
{
    background-color: yellow;
}

.submit
{
    height: 100px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn-light:hover
{
    background-color: rosybrown;
    color: black; 

}

.btn-light:focus
{
    background-color: rosybrown;
    color: black; 
}

.btn-active
{
    background-color: rosybrown;
    color: black;
}



button[disabled=disabled], button:disabled {
    border-color: red;
    background-color: red;
}