<div class="container">
  <div class="movie-picker">
    <div class="movie-picker-position">
      <div class="movie-selector">
        <label>NOW SHOWING</label> &nbsp;
        <select (change)="selectedMovie($event)" [disabled]="isHallSelected">
          <option value="none">--None--</option>
          <option *ngFor="let movielist of movies" [value]="movielist.movie_id">
            {{ movielist.name | uppercase }}<br />
            {{ movielist.ticket_price | currency: "INR" }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <ng-container *ngIf = "movieSelected" >
    <div class="dayPicker" >
      <div class="navigation">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item" *ngFor = "let days of dayArr; index as indexVal">
            <button [ngClass]="btnValue==indexVal ? 'btn btn-active' : 'btn btn-light'"  
            [value]="indexVal" (click)="DisplayAvailableShows($event)">
              {{days}}
            </button>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  
  <ng-container>
    <div class="shows" *ngIf="selectedShow.length > 0; else allShows">
      <div class="showtime">
          <div class="selected-show" *ngFor = "let showSelected of selectedShow;index as selectedInd">
            <div class="selected-show-position">
              <div class="selected-show-label">
                <label style="color: blanchedalmond;">{{showSelected.hall_name | uppercase }}</label>
              </div>
              <div class="selected-show-showTime">
                <button class="btn btn-primary"
                 style="background-color: rosybrown;">
                 {{showSelected.show_time | filter}}</button>
              </div>
            </div>
          </div>
      </div>
    </div>
    <ng-template #allShows>
        <div class="shows">
          <div class="showtime" *ngFor="let showDetails of shows; index as Arrind">
                <label style="color: blanchedalmond;">{{showDetails.hall_name | uppercase }}</label><br>
                <button class="btn btn-primary" [value]="availability.show_id"
                 *ngFor="let availability of showDetails.availability;index as btnindex"
                 (click)="bookSeats(availability.show_id,Arrind,btnindex)">
                  {{availability.show_time | filter}}
                </button>
          </div>
        </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isHallSelected">
    <div class="screen-location" *ngIf="showSeats">
      <div class="screen">
        <p>SCREEN</p>
      </div>
    </div>

    <div class="total-seats" *ngIf="showSeats">
        <div class="hor" *ngFor="let rowSeat of rows; index as i">
          <div *ngFor="let columnSeat of columns; index as j">
            <button  [value]="(i * columns.length) + (j + 1)" (click)="seatSelected(i, j)"
           [disabled]="isSeatAvailable(i, j)" 
           [ngClass]="markedSeats.includes((i * columns.length) + (j + 1)) ? 'seat selectedSeat' : 'seat'">
           <!-- [ngClass]="{'selectedSeat' : markedSeats.includes((i * columns.length) + (j + 1)) , 'seat' : true}" -->
           <!-- [ngStyle]="{'background-color': markedSeats.includes((i * columns.length) + (j + 1)) ? 'green' : 'white'}"> -->
            </button>
          </div>
        </div>
      <br /><br />
      <div class="submit" *ngIf="isHallSelected">
        <div class="submit-button">
          <button class="btn btn-danger" value="Cancel" (click)="cancel()">CANCEL</button> &nbsp;
          <button class="btn btn-success" value="Book Seats" (click)="submit()">BOOK SEATS</button>

        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- Seat: {{ i * columns.length + (j + 1) }} -->