<div class="container">
  <div class="movie-picker">
    <div class="movie-picker-position">
      <div class="movie-selector">
        <label>NOW SHOWING</label> &nbsp;&nbsp;
        <mat-form-field>
          <mat-label>Select Movie</mat-label>
          <mat-select (selectionChange)="selectedMovie($event)" [disabled]="isHallSelected">
            <mat-option *ngFor="let movielist of movies" [value]="movielist.movie_id">
              {{ movielist.name | uppercase }} &nbsp; &nbsp;
              {{ movielist.ticket_price | currency: 'INR' }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <ng-container *ngIf="movieSelected">
    <div class="dayPicker" *ngIf="!mobileDevice; else mobileVersion">
      <div class="navigation">
        <mat-list class="listItems">
          <mat-list-item class="nav-item" *ngFor="let days of dayArr; index as indexVal">
            <button mat-stroked-button [ngClass]="
                btnValue == indexVal ? 'btn btn-active' : 'btn btn-light'
              " (click)="DisplayAvailableShows(indexVal)">
              {{ days }}
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <ng-template #mobileVersion>
      <div class="dayPicker">
        <div class="navigation">
          <div class="listItems">
            <mat-form-field>
              <mat-label>Select a day</mat-label>
              <mat-select [disabled]="isHallSelected" [(ngModel)]="selectValue" (selectionChange)="DisplayAvailableShows($event)">
                <mat-option [value]="indexVal" *ngFor="let days of dayArr; index as indexVal">
                  {{ days }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-container>
    <div class="shows" *ngIf="selectedShow.length > 0; else allShows">
      <div class="showtime">
        <div class="selected-show" *ngFor="let showSelected of selectedShow; index as selectedInd">
          <div class="selected-show-position">
            <div class="selected-show-label">
              <label>{{ showSelected.hall_name | uppercase }}</label>
            </div>
            <div class="selected-show-showTime">
              <button mat-raised-button color="primary">
                {{ showSelected.show_time | filter }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #allShows>
      <div class="shows">
        <div class="showtime" *ngFor="let showDetails of shows; index as hallInd">
          <label>{{ showDetails.hall_name | uppercase }}</label>
          <div class="showtime-btn">
          <button mat-raised-button color="primary" [value]="availability.show_id" *ngFor="
              let availability of showDetails.availability;
              index as showtimeIndex
            " (click)="bookSeats(availability.show_id, hallInd, showtimeIndex)">
            {{ availability.show_time | filter }}
          </button>
        </div>
        </div>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isHallSelected">
    <div class="screen-location" *ngIf="showSeats">
      <div class="screen">
        <p>SCREEN</p>
      </div>
    </div>

    <div class="total-seats" *ngIf="showSeats">
      <div class="seat-position">
        <div class="hor" *ngFor="let rowSeat of rows; index as i">
          <div *ngFor="let columnSeat of columns; index as j">
            <button [value]="i * columns.length + (j + 1)" (click)="seatSelected(i, j)"
              [disabled]="isSeatAvailable(i, j)" [ngClass]="
              markedSeats.includes(i * columns.length + (j + 1))
                ? 'seat selectedSeat'
                : 'seat'
                
            ">
              <!-- [ngClass]="{'selectedSeat' : markedSeats.includes((i * columns.length) + (j + 1)) , 'seat' : true}" -->
              <!-- [ngStyle]="{'background-color': markedSeats.includes((i * columns.length) + (j + 1)) ? 'green' : 'white'}"> -->
            </button>
          </div>
        </div>
        <div [ngStyle]="{ 'padding-top': '10px' }">
          Maximum allowed seats to select per transaction is
          {{ MAX_ALLOWED_SEATS_TO_SELECT }}
        </div>
      </div>
      <br />
      <div class="submit" *ngIf="isHallSelected">
        <div class="submit-button">
          <button mat-raised-button color="warn" value="Cancel" (click)="cancel()">
            CANCEL
          </button>
          &nbsp;
          <button mat-raised-button color="primary" value="Book Seats" (click)="submit()">
            BOOK SEATS
          </button>
        </div>
      </div>

    </div>
    <br>
  </ng-container>
</div>

<!-- Seat: {{ i * columns.length + (j + 1) }} -->

<!-- " (click)="DisplayAvailableShows(indexVal)" -->